@import 'vars'

html, body, #app
  height: 100%
  margin: 0
  padding: 0
  background: $black
  color: $light-grey
  font-family: 'TT Commons'

h1, h2, h3, h4, h5, h6
  font-family: 'Source Sans Pro'
  font-weight: bold

=section
  background: darken($dark-grey, 5%)
  border: 1px solid darken($dark-grey, 10%)
  color: $light-grey

button
  background: darken($dark-grey, 5%)
  border: 1px solid darken($dark-grey, 10%)
  color: $light-grey
  padding: 8px 12px
  text-transform: uppercase
  font-family: 'Source Sans Pro'
  font-weight: 800
  font-size: 12px
  width: 100%
  &:hover
    cursor: pointer
    background: darken($mid-grey, 15%)

.wrapper
  height: calc(100% - 2 * 24px)
  width: calc(100% - 9 * 16px)
  margin: 0 24px
  display: grid
  grid-template-columns: 25% 45% 35%
  grid-template-rows: 8% 67% 25%
  grid-gap: 16px
  .title
    font-family: 'Source Sans Pro'
    font-weight: bold
    font-size: 36px
    margin-top: 16px
    grid-column: 1 / span 2
  .left-panel
    grid-column: 1
    grid-row: 2
    display: grid
    grid-template-rows: 8% 92%
  .graphical-area
    grid-column: 2
    grid-row: 2
  .text-area
    grid-column: 3
    grid-row: 2
  .status-area
    grid-column: 1 / span 3
    grid-row: 3

.left-panel,.task-area,.graphical-area,.text-area,.status-area
  width: 100%
  height: 100%
  +section

.left-panel
  .control-buttons
    display: flex
    flex-wrap: nowrap
    justify-content: space-between

.text-area
  textarea
    width: calc(100% - 24px)
    height: calc(100% - 48px)
    padding: 12px
    resize: none
    font-family: Inconsolata
    +section
  .code-error
    padding-left: 4px

.status-area
  display: grid
  grid-template-rows: 24px 62px auto auto
  .status-bar
    width: 100%
    height: 100%
    border-bottom: 1px solid darken($dark-grey, 10%)
    display: grid
    grid-template-columns: 10% auto 10%
    align-items: center
    font-family: 'Source Sans Pro'
    font-weight: 800
    font-size: 13px
    text-transform: uppercase
    .status-eip
      margin-left: 8px
    .status-code
      justify-self: end
      margin-right: 8px
  .memory-area-not-running
    text-align: center
    text-transform: uppercase
  .memory-area
    width: 100%
    height: 100%
    display: flex
    flex-wrap: nowrap
    overflow-y: auto
    .memory-block
      width: 100%
      height: 60px
      border: 1px solid darken($dark-grey, 10%)
      font-family: Inconsolata
      text-align: center
      .memory-loc
        padding: 6px 14px
        border-bottom: 1px solid darken($dark-grey, 10%)
      .memory-val
        padding: 6px 14px
  .inputs-area, .outputs-area
    width: 100%
    height: 100%
    +section
    vertical-align: middle
    overflow-y: auto
    .inputs, .outputs
      font-family: Inconsolata
      padding: 8px

.graphical-area
  overflow-y: auto
  overflow-x: hidden

.instruction-block
  +section
  width: 100%
  height: 36px
  display: flex
  flex-wrap: nowrap
  font-family: Inconsolata
  .idx, .opcode, .name
    padding: 8px
  .idx
    border-right: 1px solid $grey
    width: 8%
  .args
    display: flex
    flex-wrap: nowrap
    .arg
      padding: 8px
  .name
    text-align: right
    width: 100%

.instruction-block.active
  background: transparentize($light-blue, 0.7)
